# git

.git
.gitignore

# Docker
.docker

# make sure to exclude venv because it is already created inside docker
# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/